<h1 mat-dialog-title><strong>Crear Usuario</strong></h1>

<mat-dialog-content>
    <form class="user-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="user-form-full-width">
            <mat-label>Nombre de usuario</mat-label>
            <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" placeholder=" ">
            <mat-icon matSuffix>person</mat-icon>
            @if (nameFormControl.hasError('required')) {
            <mat-error>El nombre es <strong>requerido</strong></mat-error>
            }
            @if (nameFormControl.hasError('minlength')) {
            <mat-error>El nombre debe tener al menos <strong>2 caracteres</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="user-form-full-width">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ej. user@unl.edu.ec">
            <mat-icon matSuffix>drafts</mat-icon>
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Por favor ingresa un correo válido</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>El correo es <strong>requerido</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="user-form-full-width">
            <mat-label>Contraseña</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder=" ">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (passwordFormControl.hasError('required')) {
            <mat-error>La contraseña es <strong>requerida</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="user-form-full-width">
            <mat-label>Confirmar contraseña</mat-label>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput [formControl]="confirmPasswordFormControl" [errorStateMatcher]="matcher" placeholder=" ">
            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (confirmPasswordFormControl.hasError('required')) {
            <mat-error>La confirmación de contraseña es <strong>requerida</strong></mat-error>
            }
            @if (confirmPasswordFormControl.hasError('passwordMismatch')) {
            <mat-error>Las contraseñas no coinciden</mat-error>
            }
        </mat-form-field>

        <mat-dialog-actions align="end">
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit"
                [disabled]="!nameFormControl.valid || !emailFormControl.valid || !passwordFormControl.valid || !confirmPasswordFormControl.valid"
                style="background-color: lightgreen; color: black;">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <button mat-button mat-dialog-close style="background-color: lightgrey; color: black;">
                <mat-icon>cancel</mat-icon>
                Cancelar
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>