<div class="footer-container">
    <div class="footer-content">
        <div class="footer-left">
            <span>&copy; 2025 SportBoard</span>
        </div>

        <div class="footer-center">
            <span>Carrera de Computación - UNL</span>
        </div>

        <div class="footer-right">
            <div class="social-icons">
                <a href="#" class="social-icon" aria-label="Facebook" title="Síguenos en Facebook">
                    <mat-icon>facebook</mat-icon>
                </a>
            </div>
        </div>
    </div>
</div>
